@page "/application/edit/{appId:guid}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Edit</h3>

<Form ButtonText="Update" app="app"
      OnValidSubmit="@EditApplication" />

@code {
    [Parameter] public Guid appId { get; set; }
    Application app = new Application();

    protected async override Task OnParametersSetAsync()
    {
        app = await http.GetFromJsonAsync<Application>($"api/application/{appId}");
    }

    async Task EditApplication()
    {
        await http.PutAsJsonAsync("api/application", app);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("application");
    }
}