@page "/customer/edit/{customerId:long}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Customer</h3>
<NavLink class="nav-link" href="customer">
    <span class="btn btn-success" aria-hidden="true">Back</span>
</NavLink>

@if (customer == null)
{
    <text>Loading...</text>
}
else
{
    <small>Name</small>
    <label>@customerId</label>
}

@code {
    [Parameter] public Int64 customerId { get; set; }
    Customer customer = new Customer();

    //protected async override Task OnParametersSetAsync()
    //{
    //    customer = await http.GetFromJsonAsync<Customer>($"api/customer/{customerId}");
    //}

    //async Task EditCustomer()
    //{
    //    await http.PutAsJsonAsync("api/customer", customer);
    //    await js.InvokeVoidAsync("alert", $"Updated Successfully!");
    //    uriHelper.NavigateTo("customer");

    //}
}