@page "/customer/edit/{customerId:long}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Customer</h3>
<div class="form-group">
    <a class="btn btn-success" href="customer"><i class="oi oi-plus"></i>Back</a>
</div>

@if (customer == null)
{
    <text>Loading...</text>
}
else
{
    <small>Name</small>
    <label>@customer.TopParentName</label>
}

@code {
    [Parameter] public Int64 customerId { get; set; }
    Customer customer = new Customer();

    protected async override Task OnParametersSetAsync()
    {
        customer = await http.GetFromJsonAsync<Customer>($"api/customer/{customerId}");
    }

    async Task EditCustomer()
    {
        await http.PutAsJsonAsync("api/customer", customer);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("customer");

    }
}